language: ruby

rvm:
  - 2.4.1

addons:
  code_climate:
    repo_token: afb84adc93e48cbb257f398825110b0284c584d083efad8bffdd6820f434c034

services:
  - postgresql

before_install:
  - gem update --system
  - gem --version
  - gem update bundler
  - gem install rails

before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database travis_ci_test;' -U postgres

scrit: rspec

after_success:
  - bundle exec codeclimate-test-reporter

deploy:
  app: kpkt-currency-converter
  api_key:
    secure: dqpTGhxZVcDyaDx5t1M8xXeeh2NTmSttPOr0+rt25EVUPtojfkw0bX/T/rTBgjphfhTKoXH3AyTtMURr17J4zwSifLGxTELLTmS4tAVgQZzobPX6GNUEQ5IKJONJgTM4wwNjt0WHQNWyI/DRoSE65uFA7zgbxBosFdA9Cb5SyvonkqUlS7jyVdhzL5Ta8Y46U330EKswKGrvUkk6kB2ksC23JwUp87cdXw7XhS5HlpgFBbwKP6N2gN93V4l7XirlZCbPed7h7QCOst3h6N1NeyhPLfQu8xKw+oX8rpk3fK0ORxLFcdzTP9+SoxCJckOaFaKnh6Oj+KNagWhm8QEQ0Au/TgaNUs/SjvxSZkMJ6A6FxNWkZjnYGBKrDdUL5wI9mugb0I5LZVh4frvoNaiYnVDgRloYGn6tN0YVKl94pAu1NsJopEcKQwkeP+G/BOOvD9Tyy9RqzS8YLWGTh9hY7icaU+i/AT9i9r+jhuI6NykNIHa7vpR7cbExzcBHcHBTke/Imoredk2MddQUGbdr9SpDhLsjC+owDHw4q8UqsieXytI4cFz1T9S8NSSGxM90hC+lFqlpJG2Lw/u4CriXItqudt0xUfmpKsqDPUVMgDCtP1i6VcWL4q7BPqBGpSL5Gmdes+TGJd/bjU58IR1BOCB0lZlmjTpTBl1/mDYO1pE=
